/* CSS styles for the matrix containers and elements */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}


/* Container style */

.container {
    justify-content: space-between;
}


/* Page stykes */

#page1,
#page2 {
    /* display: flex; */
    /* justify-content: space-between; */
    margin: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}


/* Button styleing */

.btnCont {
    display: flex;
    justify-content: flex-end;
    gap: 10%;
}

button {
    color: #f2f2f2;
    border-width: 2px;
    border-radius: 45%;
    width: 100px;
    height: 35px;
    background-image: linear-gradient(to bottom, rgb(20, 20, 20), rgb(230, 5, 5));
}


/* The container for the matrices */

.matrix-container {
    display: flex;
    /* justify-content: center; */
}


/* Scalar Container styles */

.scalarV label {
    padding-right: 100px;
}

#scalarV {
    word-spacing: 20px;
}

.scalar2,
.matrix2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.matrix2 label {
    padding-right: 20px;
}


/* OpContainer */

.opContainer label {
    padding-right: 20px;
}

.OpScalar {
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
}


/* Individual matrix container */

.matrix {
    margin: 0 30px;
    /* display: contents;
    flex-direction: column;
    gap: 10px; */
}

.matrix label {
    padding-right: 15px;
}

#matrix1,
#matrix2,
#result {
    display: inline-block;
    border-width: 0 3px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    margin-top: 10px;
}


/* Results styles */

#resultContainer {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Hidden class for hiding elements */

.hidden {
    display: none;
}


/* Styles for the alert or error display */

.error {
    color: rgb(61, 7, 7);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}


/* Table styles for the matrices */

table {
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    border-left: 3px solid black;
    border-right: 3px solid black;
    padding: 20px;
}


/* Remove left border for first column */

table th:first-child,
table td:first-child {
    border-left: none;
}


/* Remove right border for last column */

table th:last-child,
table td:last-child {
    border-right: none;
}


/* Table header styles */

table th {
    border-top: none;
    background-color: #ffffff;
    padding: 5px;
}


/* Table cell styles */

table td {
    border-top: none;
    text-align: center;
    padding: 10px;
}